@inherits BlazorLayoutComponent
<div>
    <div>
        <NavMenu />
    </div>
    <div>
        <div class="content px-4" style="padding-top: 60px">
            @Body
        </div>
    </div>
</div>