<div class="top-row pl-4 navbar navbar-dark">
    <Dropdown>
        <DropdownToggle Color="Color.Primary">
            Radon Tests Manager
        </DropdownToggle>
        <DropdownMenu>
            <DropdownItem>
                <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                    Home
                </NavLink>
            </DropdownItem>

            <DropdownDivider />

            <DropdownItem>
                <NavLink class="nav-link" href="jobs">
                    Jobs
                </NavLink>
            </DropdownItem>
            <DropdownItem>
                <NavLink class="nav-link" href="login">
                    Login
                </NavLink>
            </DropdownItem>
            <DropdownItem>
                <NavLink class="nav-link" href="register">
                    Register
                </NavLink>
            </DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>

@functions {

}
