@page "/register"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject HttpClient Http
@using RTM_Blazor.Client.Shared

<h1>RTM Registration for New User</h1>

<div>
    <TextEdit Role="TextRole.Email" Placeholder="Email..." bind-Text="@Email" />
    <TextEdit Role="TextRole.Password" Placeholder="Password..." bind-Text="@Password" />
    <TextEdit Role="TextRole.Password" Placeholder="Confirm password..." bind-Text="@ConfirmPassword" /> 
    <SimpleButton Clicked="@SubmitForm" Color="Color.Primary" IsOutline="true">Login</SimpleButton>
</div>

@functions {
    public string Email { get; set; } = "";
    public string Password { get; set; } = "";
    public string ConfirmPassword { get; set; } = "";
    public string Token { get; set; } = "";

    private async void SubmitForm() {
        var register = new RegisterUserDTO {
            Email = Email,
            Password = Password,
            ConfirmPassword = ConfirmPassword
        };
        await Http.PostJsonAsync<object>("http://127.0.0.1:5555/api/account/register", register);

        UriHelper.NavigateTo("/login");
    }
}